form{
  width: 600px;
  margin: 0 auto;
  border: 1px solid darkblue;
  padding: 25px 40px;
  box-shadow: 5px 5px 10px darkcyan;
}
.form-group{
  padding: 10px;
}

label{
  margin-right: 10px;
}

input,
select{
  width: 100%;
  display: block;
  padding: 7px 10px;
  font-size: 18px;
}

.title{
  text-align: center;
}

button{
  padding: 5px 35px;
  background-color: #1885F2;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 8px;
  color: #fff;
}

.card{
  background-color: #fff;
  padding: 15px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 15px;
}

.card p{
  border-bottom: 1px solid #000;
}

.btn-container button{
  margin-right: 8px;
}

div{
  display: inline-block;
  margin-left: 10px;
}

.button-box{
  display: block;
}

.send{
  display: block;
  padding-bottom: 30px;
  padding-top: 50px;
  margin-left: 20px;
}

.form-group-username{
  width: 48%;
  display: inline-block;
}

.adduser{
  margin-left: 10px;
}